.button1{
    font-family : GodoM;
    width: 47.5%;
    height: 340px;
    float:left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%
}

.button2{
    font-family : GodoM;
    width: 47.5%;
    height: 340px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-bottom: 2.5%;
    margin-right: 1.5%;
}

.button3{
    font-family : GodoM;
    width: 97%;
    height: 150px;
    float : middle;
    border-radius: 10px;
    font-size : 280%;
    padding-top : 15px;
    background-color: transparent;
    margin-bottom: 2.5%;
}

.button4{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%;
    margin-bottom: 3.5%;
}

.button5{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-bottom: 2%;
    margin-right: 1.5%;
    margin-bottom: 3.5%;
}

.button6{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%;
    margin-bottom: 3.5%;
}

.button7{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-right: 1.5%;
    margin-bottom: 3.5%;
}

button{
    text-align: left;
    display:flex;
    padding-left: 15px;
}

.table1{
    font-family : GodoM;
    width : 90%;
    border-collapse: collapse;
    border: 1px solid;
}

tr{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

td{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

th{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

p{
    text-align: left;
    font-size: 50%;
}

table.type10 {
    border-collapse: separate;
    text-align: left;
    font-size: 180%;
    line-height: 1.5;
    border-color: #bae9ba;
    border-top: 1px solid #bae9ba;
    border-bottom: 1px solid #bae9ba;
    border-left:0;
    border-spacing:0px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #000;
    margin: 20px 10px;
  }
  table.type10 thead th {
    width: 50%;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-color: #bae9ba;
    vertical-align: top;
    background: #aeffbc;
    margin: 20px 10px;
    vertical-align: middle;
    border-collapse: separate;
  }
  table.type10 tbody th {
    width: 150px;
    border-color: #bae9ba;
    border-left: 1px solid #ddd;  
    padding: 10px;
  }
  table.type10 td {
    width: 350px;
    padding: 10px;
    border-top: 1px solid #ddd;   
    border-color: #bae9ba;
    vertical-align: top;
  }
  table.type10 .even {
    border-color: #bae9ba;
    background: #e8ffe8;
  }
  thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
    }
    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
    }

@font-face {
    font-family: GodoB;
    src: url(fonts/Godo/GodoB.woff);
}

@font-face {
    font-family: GodoM;
    src: url(fonts/Godo/GodoM.woff);
}

@font-face {
    font-family: Pretendard;
    src: url(fonts/Pretendard/Pretendard-Regular.woff);
}
