<!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="main.css">
            <title>엔젤시터 가족요양</title>
        </head>

            <table class="table1">
                <tr>
                    <th>90분-31일</th>
                    <th>실수령액</th>
                </tr>
                <tr>
                    <td>기초생활</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>경감 6%</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>경감 9%</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>일반 15%</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <th>60분-20일</th>
                    <th>실수령액</th>
                </tr>
                <tr>
                    <td>기초생활</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>경감 6%</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>경감 9%</td>
                    <td>921,630원</td>
                </tr>
                <tr>
                    <td>일반 15%</td>
                    <td>921,630원</td>
                </tr>
            </table>

        </body>
        
        </html>