<!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="main.css">
            <title>엔젤시터 가족요양</title>
        </head>            
        <body>
            <div style="text-align: center">
                <img src = "https://cdn.discordapp.com/attachments/1011826086847455283/1011826184193052743/unknown.png", width="70%", align="left", style="margin-top:2%; margin-bottom: 2%;"></a>      
            </div>
            <br>    
            <table class="type10">
                <thead>
                <tr>
                  <th scope="cols"><p style="font-weight : bold; font-size : 100%; color:white;">90분 - 31일</p></th>
                  <th scope="cols"><p style="font-weight : bold; font-size : 100%; color:white;">실수령액</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">기초생활</th>
                  <td>817,550</td>
                </tr>
                <tr>
                  <th scope="row" class="even">경감 6%</th>
                  <td class="even">761,940</td>
                </tr>
                <tr>
                  <th scope="row">경감 9%</th>
                  <td>734,140</td>
                </tr>
                <tr>
                    <th scope="row" class="even">일반 15%</th>
                    <td class="even"><p style="font-weight : bold; font-size : 100%; color:red;">678,530</p></td>
                  </tr>
                  <thead>
                  <tr>
                    <th scope="cols"><p style="font-weight : bold; font-size : 100%; color:white;">60분 - 20일</p></th>
                    <th scope="cols"><p style="font-weight : bold; font-size : 100%; color:white;">실수령액</p></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">기초생활</th>
                    <td>391,900</td>
                  </tr>
                  <tr>
                    <th scope="row" class="even">경감 6%</th>
                    <td class="even">365,290</td>
                  </tr>
                  <tr>
                    <th scope="row">경감 9%</th>
                    <td>351,980</td>
                  </tr>
                  <tr>
                      <th scope="row" class="even">일반 15%</th>
                      <td class="even"><p style="font-weight : bold; font-size : 100%; color:red;">325,370</p></td>
                    </tr>
                </tbody>
              </table>
        </body>
        
        </html>