<!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/css/mobile/familyCare.css">
            <title>엔젤시터 가족요양</title>
            <div style="display: flex; right:0; background-color: #e8ffe8; border:1px solid #c1c1c1; border-right-color:transparent; position:fixed; top: 0; left: 0;">
              <button onclick = "location.href = '/m/'" style="width : 40px;  margin: 10px 0px;border-color : transparent; background-color: transparent; padding-top:10px">
                <img src="https://cdn.pixabay.com/photo/2016/09/05/10/50/app-1646213_960_720.png" style="width:100%;">              
              </button>       
              <b style="font-family: Pretendard; letter-spacing:0.5px; font-size:100%; margin: 20px 0px; padding-left:34%">가족요양</b>     
            </div>
        </head>            
        <body style="padding-top : 17%">
          <div style="border-radius:10px; background-color:white;">
            <table class="type10" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                <thead>
                <tr>
                  <th scope="cols"><div style="font-weight : bold; font-size : 100%; color:black;">90분 - 31일</th>
                  <th scope="cols"><div style="font-weight : bold; font-size : 100%; color:black;">실수령액</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">기초생활</th>
                  <td>817,550</td>
                </tr>
                <tr>
                  <th scope="row" class="even">경감 6%</th>
                  <td class="even">761,940</td>
                </tr>
                <tr>
                  <th scope="row">경감 9%</th>
                  <td>734,140</td>
                </tr>
                <tr>
                    <th scope="row" class="even">일반 15%</th>
                    <td class="even"><div style="font-weight : bold; font-size : 100%; color:red;">678,530</div></td>
                  </tr>
                  <thead>
                  <tr>
                    <th scope="cols"><div style="font-weight : bold; font-size : 100%; color:black;">60분 - 20일</th>
                    <th scope="cols"><div style="font-weight : bold; font-size : 100%; color:black;">실수령액</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">기초생활</th>
                    <td>391,900</td>
                  </tr>
                  <tr>
                    <th scope="row" class="even">경감 6%</th>
                    <td class="even">365,290</td>
                  </tr>
                  <tr>
                    <th scope="row">경감 9%</th>
                    <td>351,980</td>
                  </tr>
                  <tr>
                      <th scope="row" class="even">일반 15%</th>
                      <td class="even"><div style="font-weight : bold; font-size : 100%; color:red;">325,370</div></td>
                    </tr>
                </tbody>
              </table>
            </div>
        </body>
        
        </html>