<!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="index.css">
            <title>엔젤시터 가족요양</title>

        </head>

        <body>
            <div style="text-align: center;">
                <img src = "https://cdn.discordapp.com/attachments/1011826086847455283/1011826184193052743/unknown.png", width="75%", align="middle"></a>      
            </div>
            <br>    

            <button class="button1">
                <p>가족 요양</p><br>
            </button>
            <button class="button2">
                <p>가족 요양</p><br>
            </button>

        </body>
        </html>