.button1{
    font-family : GodoM;
    width: 47.5%;
    height: 340px;
    float:left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%
}

.button2{
    font-family : GodoM;
    width: 47.5%;
    height: 340px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-bottom: 2.5%;
    margin-right: 1.5%;
}

.button3{
    font-family : GodoM;
    width: 97%;
    height: 150px;
    float : middle;
    border-radius: 10px;
    font-size : 280%;
    padding-top : 15px;
    background-color: transparent;
    margin-bottom: 2.5%;
}

.button4{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%;
    margin-bottom: 3.5%;
}

.button5{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-bottom: 2%;
    margin-right: 1.5%;
    margin-bottom: 3.5%;
}

.button6{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : left;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-left: 1.5%;
    margin-bottom: 3.5%;
}

.button7{
    font-family : GodoM;
    width: 47.5%;
    height: 300px;
    float : right;
    border-radius: 10px;
    font-size : 280%;
    background-color: transparent;
    padding-top : 15px;
    margin-right: 1.5%;
    margin-bottom: 3.5%;
}

button{
    text-align: left;
    display:flex;
    padding-left: 15px;
}

.table1{
    font-family : GodoM;
    width : 90%;
    border-collapse: collapse;
    border: 1px solid;
}

tr{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

td{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

th{
    font-family : GodoM;
    border-collapse: collapse;
    border: 1px solid;
}

p{
    text-align: left;
    font-size: 50%;
}

table.type10 {
    border-collapse: collapse;
    text-align: left;
    font-size: 180%;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
  }
  table.type10 thead th {
    width: 50%;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #e7708d;
    margin: 20px 10px;
  }
  table.type10 tbody th {
    width: 150px;
    padding: 10px;
  }
  table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }
  table.type10 .even {
    background: #fdf3f5;
  }

@font-face {
    font-family: GodoB;
    src: url(fonts/GodoB.woff);
}

@font-face {
    font-family: GodoM;
    src: url(fonts/GodoM.woff);
}

@font-face {
    font-family: Pretendard;
    src: url(fonts/Pretendard-Regular.woff);
}
